<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:label="SeuApp"
        android:icon="@mipmap/ic_launcher">

        ...

    </application>
</manifest>
